.container {

  margin-top: 15px;
  padding: 1rem 2rem;
  background-color: #194c33;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: max-content;

}

.container:hover {
  background-color: #219146;
}